html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #121315;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary {
  color: #f4f4f4;
  background-color: #e50914;
  border-color: #e50914
}

.btn-primary:hover {
  color: #f4f4f4;
  background-color: #cf000ad4;
  border-color: #cf000ad4
}

.text-footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: whitesmoke;
}